<<<<<<< HEAD
<h1>{{title}}</h1>
<a href="/registration">Registration</a>
<a href="/login"></a>
=======
<h1>{{title}}</h1>
<a href="/registration">Registration</a>
<a href="/login"></a>
>>>>>>> 8fbba4c2641bba6af4bf4bde0d98efd2972fbf93
